@import '~purecss/build/pure.css';

body {
    background-color: #ddd;
    margin-top: 150px;
}

[class^="cell"] {
  border-style: solid;
  border-color: #000;
  border-width: 0;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  box-sizing: border-box;
  vertical-align: top;
}

.hidden {
  display: none;
}

.position-marker {
  border: 2px dashed red;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;

  &.top-row { top: 50px; }
  &.middle-row { top: 150px; }
}

[class^="row"] {
  height: 100px;
}

.row-0 {
  .cell-0 { border-width: 0 1px 1px 0; }
  .cell-1 { border-width: 0 1px 1px 1px; }
  .cell-2 { border-width: 0 0 1px 1px; }
}

.row-1 {
  .cell-0 { border-width: 1px 1px 1px 0; }
  .cell-1 { border-width: 1px; }
  .cell-2 { border-width: 1px 0 1px 1px; }
}

.row-2 {
  .cell-0 { border-width: 1px 1px 0 0; }
  .cell-1 { border-width: 1px 1px 0 1px; }
  .cell-2 { border-width: 1px 0 0 1px; }
}

.game-state {
  text-align: center;
  margin-top: 35px;
}

.reset-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #bdb7b7;
  transform: translateX(-50%);

}
